<!DOCTYPE html>
<html>
  <head>
    <title>multer js </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>multer js web app</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
       <input type="file" name="image">
       <button type="submit">upload</button>
       
    </form>
  </body>
</html>
